<h2>Create an Author</h2>
<%= form_tag authors_path, method: "post" do %>

  
  <% if @author.errors.any? %> #checking if there were any errors if so ... ...
  <div id="error_explanation"> 
    <h2>There were some errors:</h2> #dusplay this then
      <ul>
       <% @author.errors.full_messages.each do |message| %> #display errors in full then idiroate thru them 
       <li><%= message %></li> # show the error message indivually
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field<%= ' field_with_errors' if @author.errors[:name].any? %>"> #if tyhere is an error reguarding the name show it 
    <%= label_tag "name", "Name" %>  # field for name 
    <%= text_field_tag "name", @author.name %>  #the authors name 
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:email].any? %>"> #if there is an error with email show it 
    <%= label_tag "email", "Email" %> # field for email
    <%= text_field_tag "email", @author.email %> #the authors email
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:phone_number].any? %>"> # yep if there is a phone number error show it 
    <%= label_tag "phone_number", "Phone Number" %> #feild for phone num
    <%= text_field_tag "phone_number", @author.phone_number %> #the authors PN
  </div>

  <%= submit_tag "Create" %>
<% end %>

